<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Events Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <header>
<div class = "p-2 ml-3 bg-light row">
    <div class = "col-sm-9">
        <a href = "/frontend/">
            <h1> Eventually </h1> 
            {{user}}
        </a>
    </div>
    <div class = "col-sm-3" id = "login-form">
            <input v-model="username">
            </input>
            <input v-model="password">
            </input>
            <button @click="postLogin">Submit</button>
    </div>
</div>
    </header>
    <div class = "p-2">
            <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

{% block head %}{% endblock %}
    