
{% extends './header.html' %}
{% block head %}
{% load staticfiles %}
        <div id ="app">
            <h3 class = 'p-3'>Signups</h3>
         <div class = "row px-5 m-3">
            <div class = 'col-sm-4' v-for ="signup in signups">
                <h3>${signup}</h3>
                <img :src="`https://source.unsplash.com/300x200/?event/${signup}`"/>
            </div>
        </div>
   
        <h3 class = 'p-3'>Events Created</h3>
            <div class = "row px-5 m-3">
                    <div class = "col-sm-4" v-for ="event in created">
                            <h3>${event}</h3>
                            <img :src="`https://source.unsplash.com/300x200/?event/${event}`"/>
                        </div>
                    <!--  -->
            </div>
            
        </ul>
        </div>
</body>
<script> const username = "{{ username }}" </script>
<script type="text/javascript" src="{% static 'js/person.js' %}"></script>
<!-- <script src="./js/main.js"></script> -->
</html>
{% endblock %}
