{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'stripe_application/css/main.css'%}">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<section id = "main">
<body>
    <div class = "wrapper">
<form action="/charge" method="post" id="payment-form" class = "StripeElement">
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>
</div>
</section>
</body>

<script type="text/javascript" src="{% static 'stripe_application/js/index.js' %}"></script>
